@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  padding: 2.5em 2em;
  overflow-x: hidden;
}

.background-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 55vh;
  border-bottom-left-radius: 5em;
  background-color: #eef3f6;
  z-index: -1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
nav .logo {
  cursor: pointer;
}

.nav-button {
  cursor: pointer;
  display: block;
}

.mobile-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  border: 1px solid #eef3f6;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transform: translate(0%, 30%);
  background-color: white;
  filter: drop-shadow(0px 0px 10px #d1d0d0);
  z-index: 1;
  visibility: hidden;
}
.mobile-nav ul {
  list-style: none;
  color: #242942;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav ul li {
  padding: 0 0;
  margin: 1.25em 0;
  cursor: pointer;
}
.mobile-nav ul li:hover {
  border-bottom: 1px solid #5b5f71;
}
.mobile-nav .fa-circle {
  display: none;
}
.mobile-nav div {
  border-top: 1px solid #c2c2c2;
  padding: 1.5em 0;
  margin: 0 1.5em;
}
.mobile-nav div a {
  color: #a0a1ac;
}
.mobile-nav div a:hover {
  border-bottom: 1px solid #a0a1ac;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illu-devices {
  min-width: 31.5rem;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  transform: translate(-5%, 0%);
}

.content-container h1 {
  margin-bottom: 0.5em;
}
.content-container .para-desc {
  color: #5b5f71;
  line-height: 1.5;
  margin-bottom: 1em;
  padding-right: 1.5em;
}

.short-description-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.short-description-container div {
  padding: 0.25em 0.75em;
  border: 0;
  border-radius: 20px;
  background-color: #242942;
  color: white;
  margin-right: 0.75em;
}
.short-description-container p {
  letter-spacing: 0.25em;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  color: #a0a1ac;
}

h1,
h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Barlow", sans-serif;
  color: #a0a1ac;
}

a {
  text-decoration: none;
}

.demo-button,
.preview-button {
  border: 0;
}

.demo-button {
  border-radius: 5px;
  background-color: #ff5c5c;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  padding: 0.75rem 1rem;
  margin-right: 1em;
  font-size: 1rem;
}
.demo-button a {
  color: white;
}

.demo-button:hover {
  opacity: 0.8;
}

.preview-button a {
  font-family: "Barlow Condensed", sans-serif;
  background-color: white;
  color: #a0a1ac;
  font-size: 1rem;
  letter-spacing: 0.125rem;
}

@media (min-width: 540px) {
  .illu-devices {
    transform: translate(0%, 0%);
  }
}
@media (min-width: 900px) {
  .container {
    padding: 3em 0 3em 10em;
    overflow-x: hidden;
  }

  nav {
    padding-right: 10em;
  }

  .landing-page-container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
  }
  .landing-page-container .illu-devices {
    margin-top: 0;
    margin-bottom: 0;
    width: 150%;
    height: auto;
    transform: translate(22.5%, 5%);
  }

  .content-container {
    width: 50rem;
  }
  .content-container h1 {
    max-width: 25rem;
  }
  .content-container .para-desc {
    max-width: 19rem;
  }

  h1 {
    font-size: 3rem;
  }

  .nav-button {
    cursor: pointer;
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    position: static;
    width: auto;
    border: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translate(0%, 0%);
    background-color: transparent;
    filter: drop-shadow(0px 0px 0px);
    visibility: visible !important;
    z-index: 1;
  }
  .mobile-nav ul {
    list-style: none;
    color: #242942;
    display: flex;
    flex-direction: row;
  }
  .mobile-nav ul li {
    padding: 0 0;
    margin: 0 1.5em;
    cursor: pointer;
  }
  .mobile-nav ul li:hover {
    border-bottom: 1px solid #5b5f71;
  }
  .mobile-nav .fa-circle {
    font-size: 0.3em;
    padding: 0 5em;
    display: block;
    color: #a0a1ac;
  }
  .mobile-nav div {
    border-top: 0;
    padding: 0 0;
    margin: 0 0 0 1em;
  }
  .mobile-nav div a {
    color: #a0a1ac;
  }
  .mobile-nav div a:hover {
    border-bottom: 1px solid #a0a1ac;
  }
}

/*# sourceMappingURL=styles.css.map */
